IDC-Livrable3/fr_Cussac_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:dcr="http://www.isocat.org/ns/dcr"
  xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  vc:minVersion="1.1">
  <xs:import namespace="http://www.isocat.org/ns/dcr" schemaLocation="fr_dcr.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="fr_xml.xsd"/>
  <!--
    Schema generated from ODD source 2022-04-07T16:35:26Z. .
    TEI Edition: Version 4.3.0. Last updated on
            31st August 2021, revision b4f72b1ff
    TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.3.0/
    
  -->
  <!-- This template file is freely available and you are hereby authorised to copy, modify, and redistribute it in any way without further reference or permissions.When making such modifications, you are strongly recommended to change the present text to include an accurate statement of the licencing conditions applicable to your modified text. -->
  <xs:complexType name="macro.paraContent" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="tei:model.phrase"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="macro.phraseSeq" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:model.phrase"/>
  </xs:complexType>
  <xs:attributeGroup name="att.canonical.attributes">
    <xs:attributeGroup ref="tei:att.canonical.attribute.key"/>
    <xs:attributeGroup ref="tei:att.canonical.attribute.ref"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.canonical.attribute.key">
    <xs:attribute name="key" type="xs:string">
      <xs:annotation>
        <xs:documentation>provides an externally-defined means of identifying the entity (or
          entities) being named, using a coded value of some kind.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.canonical.attribute.ref">
    <xs:attribute name="ref">
      <xs:annotation>
        <xs:documentation>(reference) provides an explicit means of locating a full definition or
          identity for the entity being named by means of one or more URIs.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.w3c.attributes">
    <xs:attributeGroup ref="tei:att.datable.w3c.attribute.when"/>
    <xs:attributeGroup ref="tei:att.datable.w3c.attribute.notBefore"/>
    <xs:attributeGroup ref="tei:att.datable.w3c.attribute.notAfter"/>
    <xs:attributeGroup ref="tei:att.datable.w3c.attribute.from"/>
    <xs:attributeGroup ref="tei:att.datable.w3c.attribute.to"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.w3c.attribute.when">
    <xs:attribute name="when">
      <xs:annotation>
        <xs:documentation>supplies the value of the date or time in a standard form, e.g.
          yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"
        />
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.w3c.attribute.notBefore">
    <xs:attribute name="notBefore">
      <xs:annotation>
        <xs:documentation>specifies the earliest possible date for the event in standard form, e.g.
          yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"
        />
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.w3c.attribute.notAfter">
    <xs:attribute name="notAfter">
      <xs:annotation>
        <xs:documentation>specifies the latest possible date for the event in standard form, e.g.
          yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"
        />
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.w3c.attribute.from">
    <xs:attribute name="from">
      <xs:annotation>
        <xs:documentation>indicates the starting point of the period in standard form, e.g.
          yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"
        />
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.w3c.attribute.to">
    <xs:attribute name="to">
      <xs:annotation>
        <xs:documentation>indicates the ending point of the period in standard form, e.g.
          yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"
        />
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.attributes">
    <xs:attributeGroup ref="tei:att.datable.w3c.attributes"/>
    <xs:attributeGroup ref="tei:att.datable.iso.attributes"/>
    <xs:attributeGroup ref="tei:att.datable.custom.attributes"/>
    <xs:attributeGroup ref="tei:att.datable.attribute.calendar"/>
    <xs:attributeGroup ref="tei:att.datable.attribute.period"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.attribute.calendar">
    <xs:attribute name="calendar">
      <xs:annotation>
        <xs:documentation>indicates one or more systems or calendars to which the date represented
          by the content of this element belongs.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.attribute.period">
    <xs:attribute name="period">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datcat.attributes">
    <xs:attributeGroup ref="tei:att.datcat.attribute.datcat"/>
    <xs:attributeGroup ref="tei:att.datcat.attribute.valueDatcat"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datcat.attribute.datcat">
    <xs:attribute ref="dcr:datcat"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datcat.attribute.valueDatcat">
    <xs:attribute ref="dcr:valueDatcat"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.editLike.attributes">
    <xs:attributeGroup ref="tei:att.editLike.attribute.evidence"/>
    <xs:attributeGroup ref="tei:att.editLike.attribute.instant"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.editLike.attribute.evidence">
    <xs:attribute name="evidence">
      <xs:annotation>
        <xs:documentation>indicates the nature of the evidence supporting the reliability or
          accuracy of the intervention or interpretation. Suggested values include: 1] internal; 2]
          external; 3] conjecture</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:union>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="internal">
                        <xs:annotation>
                          <xs:documentation>there is internal evidence to support the
                            intervention.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="external">
                        <xs:annotation>
                          <xs:documentation>there is external evidence to support the
                            intervention.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="conjecture">
                        <xs:annotation>
                          <xs:documentation>the intervention or interpretation has been made by the
                            editor, cataloguer, or scholar on the basis of their
                            expertise.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:pattern value="[^\p{C}\p{Z}]+"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:union>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.editLike.attribute.instant">
    <xs:attribute name="instant" default="false">
      <xs:annotation>
        <xs:documentation>indicates whether this is an instant revision or not.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:boolean">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="unknown">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="inapplicable">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.rendition.attributes">
    <xs:attributeGroup ref="tei:att.global.rendition.attribute.rendition"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.rendition.attribute.rendition">
    <xs:attribute name="rendition">
      <xs:annotation>
        <xs:documentation>points to a description of the rendering or presentation used for this
          element in the source text.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attributes">
    <xs:attributeGroup ref="tei:att.global.rendition.attributes"/>
    <xs:attributeGroup ref="tei:att.global.analytic.attributes"/>
    <xs:attributeGroup ref="tei:att.global.attribute.xmlid"/>
    <xs:attributeGroup ref="tei:att.global.attribute.n"/>
    <xs:attributeGroup ref="tei:att.global.attribute.xmllang"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmlid">
    <xs:attribute ref="xml:id"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.n">
    <xs:attribute name="n" type="xs:string">
      <xs:annotation>
        <xs:documentation>(number) gives a number (or other label) for an element, which is not
          necessarily unique within the document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmllang">
    <xs:attribute ref="xml:lang"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.naming.attributes">
    <xs:attributeGroup ref="tei:att.canonical.attributes"/>
    <xs:attributeGroup ref="tei:att.naming.attribute.role"/>
    <xs:attributeGroup ref="tei:att.naming.attribute.nymRef"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.naming.attribute.role">
    <xs:attribute name="role">
      <xs:annotation>
        <xs:documentation>may be used to specify further information about the entity referenced by
          this name in the form of a set of whitespace-separated values, for example the occupation
          of a person, or the status of a place.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.naming.attribute.nymRef">
    <xs:attribute name="nymRef">
      <xs:annotation>
        <xs:documentation>(reference to the canonical name) provides a means of locating the
          canonical form (nym) of the names associated with the object named by the element bearing
          it.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.notated.attributes">
    <xs:attributeGroup ref="tei:att.notated.attribute.notation"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.notated.attribute.notation">
    <xs:attribute name="notation">
      <xs:annotation>
        <xs:documentation>names the notation used for the content of the element.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[^\p{C}\p{Z}]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.placement.attributes">
    <xs:attributeGroup ref="tei:att.placement.attribute.place"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.placement.attribute.place">
    <xs:attribute name="place">
      <xs:annotation>
        <xs:documentation>specifies where this item is placed. Suggested values include: 1] top; 2]
          bottom; 3] margin; 4] opposite; 5] overleaf; 6] above; 7] right; 8] below; 9] left; 10]
          end; 11] inline; 12] inspace</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:union>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="top">
                        <xs:annotation>
                          <xs:documentation>at the top of the page</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="bottom">
                        <xs:annotation>
                          <xs:documentation>at the foot of the page</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="margin">
                        <xs:annotation>
                          <xs:documentation>in the margin (left, right, or both)</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="opposite">
                        <xs:annotation>
                          <xs:documentation>on the opposite, i.e. facing, page</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="overleaf">
                        <xs:annotation>
                          <xs:documentation>on the other side of the leaf</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="above">
                        <xs:annotation>
                          <xs:documentation>above the line</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="right">
                        <xs:annotation>
                          <xs:documentation>to the right, e.g. to the right of a vertical line of
                            text, or to the right of a figure</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="below">
                        <xs:annotation>
                          <xs:documentation>below the line</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="left">
                        <xs:annotation>
                          <xs:documentation>to the left, e.g. to the left of a vertical line of
                            text, or to the left of a figure</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="end">
                        <xs:annotation>
                          <xs:documentation>at the end of e.g. chapter or volume.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="inline">
                        <xs:annotation>
                          <xs:documentation>within the body of the text.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="inspace">
                        <xs:annotation>
                          <xs:documentation>in a predefined space, for example left by an earlier
                            scribe.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:pattern value="[^\p{C}\p{Z}]+"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:union>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.typed.attribute.type">
    <xs:attribute name="type">
      <xs:annotation>
        <xs:documentation>characterizes the element in some sense, using any convenient
          classification scheme or typology.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ADV"/>
          <xs:enumeration value="ADJ"/>
          <xs:enumeration value="DET"/>
          <xs:enumeration value="DET:ART"/>
          <xs:enumeration value="DET:POS"/>
          <xs:enumeration value="KON"/>
          <xs:enumeration value="NAM"/>
          <xs:enumeration value="NOM"/>
          <xs:enumeration value="NUM"/>
          <xs:enumeration value="PRO"/>
          <xs:enumeration value="PRO:PER"/>
          <xs:enumeration value="PRO:DEM"/>
          <xs:enumeration value="PRO:IND"/>
          <xs:enumeration value="PRO:POS"/>
          <xs:enumeration value="PRO:REL"/>
          <xs:enumeration value="PRP"/>
          <xs:enumeration value="PRP:det"/>
          <xs:enumeration value="PUN"/>
          <xs:enumeration value="SENT"/>
          <xs:enumeration value="VER"/>
          <xs:enumeration value="VER:ppre"/>
          <xs:enumeration value="VER:infi"/>
          <xs:enumeration value="VER:cond"/>
          <xs:enumeration value="VER:futu"/>
          <xs:enumeration value="VER:impe"/>
          <xs:enumeration value="VER:impf"/>
          <xs:enumeration value="VER:pper"/>
          <xs:enumeration value="VER:pres"/>
          <xs:enumeration value="VER:simp"/>
          <xs:enumeration value="VER:subi"/>
          <xs:enumeration value="VER:subp"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.segLike.attributes">
    <xs:attributeGroup ref="tei:att.datcat.attributes"/>
    <xs:attributeGroup ref="tei:att.segLike.attribute.function"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.segLike.attribute.function">
    <xs:attribute name="function">
      <xs:annotation>
        <xs:documentation>(function) characterizes the function of the segment.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[^\p{C}\p{Z}]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="model.nameLike.agent">
    <xs:sequence>
      <xs:element ref="tei:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_alternation">
    <xs:sequence>
      <xs:element ref="tei:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_sequence">
    <xs:sequence>
      <xs:element ref="tei:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.segLike">
    <xs:choice>
      <xs:element ref="tei:w"/>
      <xs:element ref="tei:pc"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.emphLike">
    <xs:sequence>
      <xs:element ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.emphLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.emphLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.emphLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.emphLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.emphLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.highlighted">
    <xs:sequence>
      <xs:group ref="tei:model.emphLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike">
    <xs:sequence>
      <xs:element ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.divPart">
    <xs:sequence>
      <xs:group ref="tei:model.pLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeNamePart">
    <xs:sequence>
      <xs:element ref="tei:placeName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeNamePart_alternation">
    <xs:sequence>
      <xs:element ref="tei:placeName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeNamePart_sequence">
    <xs:sequence>
      <xs:element ref="tei:placeName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeNamePart_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:placeName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeNamePart_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:placeName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeNamePart_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:placeName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeStateLike">
    <xs:sequence>
      <xs:group ref="tei:model.placeNamePart"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeStateLike_alternation">
    <xs:sequence>
      <xs:group ref="tei:model.placeNamePart_alternation"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeStateLike_sequence">
    <xs:sequence>
      <xs:group ref="tei:model.placeNamePart_sequence"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeStateLike_sequenceOptional">
    <xs:sequence>
      <xs:group minOccurs="0" ref="tei:model.placeNamePart_sequenceOptional"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeStateLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded"
        ref="tei:model.placeNamePart_sequenceOptionalRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.placeStateLike_sequenceRepeatable">
    <xs:sequence>
      <xs:group maxOccurs="unbounded" ref="tei:model.placeNamePart_sequenceRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.respLike">
    <xs:sequence>
      <xs:element ref="tei:author"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike">
    <xs:choice>
      <xs:group ref="tei:model.nameLike.agent"/>
      <xs:group ref="tei:model.placeStateLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.nameLike_alternation">
    <xs:choice>
      <xs:group ref="tei:model.nameLike.agent_alternation"/>
      <xs:group ref="tei:model.placeStateLike_alternation"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.nameLike_sequence">
    <xs:sequence>
      <xs:group ref="tei:model.nameLike.agent_sequence"/>
      <xs:group ref="tei:model.placeStateLike_sequence"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike_sequenceOptional">
    <xs:sequence>
      <xs:group minOccurs="0" ref="tei:model.nameLike.agent_sequenceOptional"/>
      <xs:group minOccurs="0" ref="tei:model.placeStateLike_sequenceOptional"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded"
        ref="tei:model.nameLike.agent_sequenceOptionalRepeatable"/>
      <xs:group minOccurs="0" maxOccurs="unbounded"
        ref="tei:model.placeStateLike_sequenceOptionalRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pPart.data">
    <xs:sequence>
      <xs:group ref="tei:model.nameLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.common">
    <xs:choice>
      <xs:group ref="tei:model.divPart"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.phrase">
    <xs:choice>
      <xs:group ref="tei:model.segLike"/>
      <xs:group ref="tei:model.highlighted"/>
      <xs:group ref="tei:model.pPart.data"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.divLike">
    <xs:sequence> </xs:sequence>
  </xs:group>
  <xs:group name="model.resource">
    <xs:sequence>
      <xs:element ref="tei:text"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="att.personal.attributes">
    <xs:attributeGroup ref="tei:att.naming.attributes"/>
    <xs:attributeGroup ref="tei:att.personal.attribute.full"/>
    <xs:attributeGroup ref="tei:att.personal.attribute.sort"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.personal.attribute.full">
    <xs:attribute name="full" default="yes">
      <xs:annotation>
        <xs:documentation>indicates whether the name component is given in full, as an abbreviation
          or simply as an initial.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="yes">
            <xs:annotation>
              <xs:documentation>(yes) the name component is spelled out in full.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="abb">
            <xs:annotation>
              <xs:documentation>(abbreviated) the name component is given in an abbreviated
                form.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="init">
            <xs:annotation>
              <xs:documentation>(initial letter) the name component is indicated only by one
                initial.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.personal.attribute.sort">
    <xs:attribute name="sort" type="xs:nonNegativeInteger">
      <xs:annotation>
        <xs:documentation>(sort) specifies the sort order of the name component in relation to
          others within the name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="p">
    <xs:annotation>
      <xs:documentation>(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech
        Contents]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:macro.paraContent">
          <xs:attributeGroup ref="tei:att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="name">
    <xs:annotation>
      <xs:documentation>(name, proper noun) contains a proper noun or noun phrase. [3.6.1. Referring
        Strings]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:macro.phraseSeq">
          <xs:attributeGroup ref="tei:att.global.attributes"/>
          <xs:attributeGroup ref="tei:att.personal.attributes"/>
          <xs:attributeGroup ref="tei:att.datable.attributes"/>
          <xs:attributeGroup ref="tei:att.editLike.attributes"/>
          <xs:attributeGroup ref="tei:att.typed.attribute.type"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="author">
    <xs:annotation>
      <xs:documentation>(author) in a bibliographic reference, contains the name(s) of an author,
        personal or corporate, of a work; for example in the same form as that provided by a
        recognized bibliographic name authority. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The
        Title Statement]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:macro.phraseSeq">
          <xs:attributeGroup ref="tei:att.global.attributes"/>
          <xs:attributeGroup ref="tei:att.naming.attributes"/>
          <xs:attributeGroup ref="tei:att.datable.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:annotation>
      <xs:documentation>(title) contains a title for any kind of work. [3.12.2.2. Titles, Authors,
        and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:macro.paraContent">
          <xs:attributeGroup ref="tei:att.global.attributes"/>
          <xs:attributeGroup ref="tei:att.canonical.attributes"/>
          <xs:attributeGroup ref="tei:att.datable.attributes"/>
          <xs:attribute name="type">
            <xs:annotation>
              <xs:documentation>caractérise le titre selon une typologie adaptée. Exemple de valeurs
                possibles: 1] main; 2] sub (subordinate); 3] alt (alternate); 4] short; 5] desc
                (descriptive)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:pattern value="[^\p{C}\p{Z}]+"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="level">
            <xs:annotation>
              <xs:documentation>indique le niveau bibliographique d'un titre, c'est-à-dire si ce
                titre identifie un article, un livre, une revue, une collection, ou un document non
                publié</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="a">
                  <xs:annotation>
                    <xs:documentation>(analytique) titre analytique (article, poème ou autre, publié
                      comme partie d'un ensemble plus grand)</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="m">
                  <xs:annotation>
                    <xs:documentation>(monographique) titre de monographie (livre, ensemble ou
                      autre, publié comme un document distinct, y compris les volumes isolés
                      d'ouvrages en plusieurs volumes)</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="j">
                  <xs:annotation>
                    <xs:documentation>(journal) titre de revue</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="s">
                  <xs:annotation>
                    <xs:documentation>(série) titre de publication en série</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="u">
                  <xs:annotation>
                    <xs:documentation>(unpublished) titre de matéria non publié (thèses et
                      dissertations comprises, à l'exception de leurs éditions
                      commerciales)</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="teiHeader">
    <xs:annotation>
      <xs:documentation>(TEI header) supplies descriptive and declarative metadata associated with a
        digital resource or set of resources. [2.1.1. The TEI Header and Its Components 15.1.
        Varieties of Composite Text]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:fileDesc">
          <xs:attributeGroup ref="tei:att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="fileDesc">
    <xs:sequence>
      <xs:element ref="tei:fileDesc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fileDesc">
    <xs:annotation>
      <xs:documentation>(file description) contains a full bibliographic description of an
        electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its
        Components]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element ref="tei:titleStmt"/>
          <xs:element ref="tei:publicationStmt"/>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:sourceDesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleStmt">
    <xs:annotation>
      <xs:documentation>(title statement) groups information about the title of a work and those
        responsible for its content. [2.2.1. The Title Statement 2.2. The File
        Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:title"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:model.respLike"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationStmt">
    <xs:annotation>
      <xs:documentation>(publication statement) groups information concerning the publication or
        distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing,
        etc. 2.2. The File Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="tei:model.pLike"/>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sourceDesc">
    <xs:annotation>
      <xs:documentation>(source description) describes the source(s) from which an electronic text
        was derived or generated, typically a bibliographic description in the case of a digitized
        text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7.
        The Source Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="tei:model.pLike"/>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEI">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:teiHeader"/>
        <xs:choice>
          <xs:sequence>
            <xs:group maxOccurs="unbounded" ref="tei:model.resource"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:TEI"/>
          </xs:sequence>
          <xs:element maxOccurs="unbounded" ref="tei:TEI"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.typed.attribute.type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:annotation>
      <xs:documentation>(text) contains a single text of any kind, whether unitary or composite, for
        example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample.
        [4. Default Text Structure 15.1. Varieties of Composite Text]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:body"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.typed.attribute.type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:annotation>
      <xs:documentation>(text body) contains the whole body of a single unitary text, excluding any
        front or back matter. [4. Default Text Structure]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="tei:model.common"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="att.lexicographic.normalized.attributes">
    <xs:attributeGroup ref="tei:att.lexicographic.normalized.attribute.norm"/>
    <xs:attributeGroup ref="tei:att.lexicographic.normalized.attribute.orig"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.lexicographic.normalized.attribute.norm">
    <xs:attribute name="norm" type="xs:string">
      <xs:annotation>
        <xs:documentation>(normalized) provides the normalized/standardized form of information
          present in the source text in a non-normalized form</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.lexicographic.normalized.attribute.orig">
    <xs:attribute name="orig" type="xs:string">
      <xs:annotation>
        <xs:documentation>(original) gives the original string or is the empty string when the
          element does not appear in the source text.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.linguistic.attributes">
    <xs:attributeGroup ref="tei:att.lexicographic.normalized.attributes"/>
    <xs:attributeGroup ref="tei:att.linguistic.attribute.lemma"/>
    <xs:attributeGroup ref="tei:att.linguistic.attribute.lemmaRef"/>
    <xs:attributeGroup ref="tei:att.linguistic.attribute.pos"/>
    <xs:attributeGroup ref="tei:att.linguistic.attribute.msd"/>
    <xs:attributeGroup ref="tei:att.linguistic.attribute.join"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.linguistic.attribute.lemma">
    <xs:attribute name="lemma">
      <xs:annotation>
        <xs:documentation>provides a lemma (base form) for the word, typically uninflected and
          serving both as an identifier (e.g. in dictionary contexts, as a headword), and as a basis
          for potential inflections.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[\p{L}-.,|]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.linguistic.attribute.lemmaRef">
    <xs:attribute name="lemmaRef" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>provides a pointer to a definition of the lemma for the word, for example
          in an online lexicon.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.linguistic.attribute.pos">
    <xs:attribute name="pos" type="xs:string">
      <xs:annotation>
        <xs:documentation>(part of speech) indicates the part of speech assigned to a token (i.e.
          information on whether it is a noun, adjective, or verb), usually according to some
          official reference vocabulary (e.g. for German: STTS, for English: CLAWS, for Polish:
          NKJP, etc.).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.linguistic.attribute.msd">
    <xs:attribute name="msd" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.linguistic.attribute.join">
    <xs:attribute name="join">
      <xs:annotation>
        <xs:documentation>when present, it provides information on whether the token in question is
          adjacent to another, and if so, on which side. The definition of this attribute is adapted
          from ISO MAF (Morpho-syntactic Annotation Framework), ISO 24611:2012.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="no">
            <xs:annotation>
              <xs:documentation>(the token is not adjacent to another) </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="left">
            <xs:annotation>
              <xs:documentation>(there is no whitespace on the left side of the token)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="right">
            <xs:annotation>
              <xs:documentation>(there is no whitespace on the right side of the token)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="both">
            <xs:annotation>
              <xs:documentation>(there is no whitespace on either side of the token)
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="overlap">
            <xs:annotation>
              <xs:documentation>(the token overlaps with another; other devices (specifying the
                extent and the area of overlap) are needed to more precisely locate this token in
                the character stream) </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.analytic.attributes">
    <xs:attributeGroup ref="tei:att.global.analytic.attribute.ana"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.analytic.attribute.ana">
    <xs:attribute name="ana">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="w">
    <xs:annotation>
      <xs:documentation>(word) represents a grammatical (not necessarily orthographic) word. [17.1.
        Linguistic Segment Categories 17.4.2. Lightweight Linguistic Annotation]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:w"/>
        <xs:element ref="tei:pc"/>
      </xs:choice>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.segLike.attributes"/>
      <xs:attributeGroup ref="tei:att.typed.attribute.type"/>
      <xs:attributeGroup ref="tei:att.linguistic.attributes"/>
      <xs:attributeGroup ref="tei:att.notated.attributes"/>
      <xs:assert test="matches(., '^[A-zàâçéèêëîïôûùüÿñæœ.\.''-]+$')"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pc">
    <xs:annotation>
      <xs:documentation>(punctuation character) contains a character or string of characters
        regarded as constituting a single punctuation mark. [17.1.2. Below the Word Level 17.4.2.
        Lightweight Linguistic Annotation]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.segLike.attributes"/>
      <xs:attributeGroup ref="tei:att.typed.attribute.type"/>
      <xs:attributeGroup ref="tei:att.linguistic.attributes"/>
      <xs:attribute name="force">
        <xs:annotation>
          <xs:documentation>indicates the extent to which this punctuation mark conventionally
            separates words or phrases</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="strong">
              <xs:annotation>
                <xs:documentation>the punctuation mark is a word separator</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="weak">
              <xs:annotation>
                <xs:documentation>the punctuation mark is not a word separator</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="pre" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>indicates whether this punctuation mark precedes or follows the unit it
            delimits.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="att.datable.custom.attributes">
    <xs:attributeGroup ref="tei:att.datable.custom.attribute.when-custom"/>
    <xs:attributeGroup ref="tei:att.datable.custom.attribute.notBefore-custom"/>
    <xs:attributeGroup ref="tei:att.datable.custom.attribute.notAfter-custom"/>
    <xs:attributeGroup ref="tei:att.datable.custom.attribute.from-custom"/>
    <xs:attributeGroup ref="tei:att.datable.custom.attribute.to-custom"/>
    <xs:attributeGroup ref="tei:att.datable.custom.attribute.datingPoint"/>
    <xs:attributeGroup ref="tei:att.datable.custom.attribute.datingMethod"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.custom.attribute.when-custom">
    <xs:attribute name="when-custom">
      <xs:annotation>
        <xs:documentation>supplies the value of a date or time in some custom standard
          form.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.custom.attribute.notBefore-custom">
    <xs:attribute name="notBefore-custom">
      <xs:annotation>
        <xs:documentation>specifies the earliest possible date for the event in some custom standard
          form.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.custom.attribute.notAfter-custom">
    <xs:attribute name="notAfter-custom">
      <xs:annotation>
        <xs:documentation>specifies the latest possible date for the event in some custom standard
          form.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.custom.attribute.from-custom">
    <xs:attribute name="from-custom">
      <xs:annotation>
        <xs:documentation>indicates the starting point of the period in some custom standard
          form.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.custom.attribute.to-custom">
    <xs:attribute name="to-custom">
      <xs:annotation>
        <xs:documentation>indicates the ending point of the period in some custom standard
          form.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.custom.attribute.datingPoint">
    <xs:attribute name="datingPoint" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>supplies a pointer to some location defining a named point in time with
          reference to which the datable item is understood to have occurred</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.custom.attribute.datingMethod">
    <xs:attribute name="datingMethod" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.iso.attributes">
    <xs:attributeGroup ref="tei:att.datable.iso.attribute.when-iso"/>
    <xs:attributeGroup ref="tei:att.datable.iso.attribute.notBefore-iso"/>
    <xs:attributeGroup ref="tei:att.datable.iso.attribute.notAfter-iso"/>
    <xs:attributeGroup ref="tei:att.datable.iso.attribute.from-iso"/>
    <xs:attributeGroup ref="tei:att.datable.iso.attribute.to-iso"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.iso.attribute.when-iso">
    <xs:attribute name="when-iso">
      <xs:annotation>
        <xs:documentation>supplies the value of a date or time in a standard
          form.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[0-9.,DHMPRSTWYZ/:+\-]+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.iso.attribute.notBefore-iso">
    <xs:attribute name="notBefore-iso">
      <xs:annotation>
        <xs:documentation>specifies the earliest possible date for the event in standard form, e.g.
          yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[0-9.,DHMPRSTWYZ/:+\-]+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.iso.attribute.notAfter-iso">
    <xs:attribute name="notAfter-iso">
      <xs:annotation>
        <xs:documentation>specifies the latest possible date for the event in standard form, e.g.
          yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[0-9.,DHMPRSTWYZ/:+\-]+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.iso.attribute.from-iso">
    <xs:attribute name="from-iso">
      <xs:annotation>
        <xs:documentation>indicates the starting point of the period in standard
          form.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[0-9.,DHMPRSTWYZ/:+\-]+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.iso.attribute.to-iso">
    <xs:attribute name="to-iso">
      <xs:annotation>
        <xs:documentation>indicates the ending point of the period in standard
          form.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[0-9.,DHMPRSTWYZ/:+\-]+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="placeName">
    <xs:annotation>
      <xs:documentation>(place name) contains an absolute or relative place name. [13.2.3. Place
        Names]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:macro.phraseSeq">
          <xs:attributeGroup ref="tei:att.datable.attributes"/>
          <xs:attributeGroup ref="tei:att.editLike.attributes"/>
          <xs:attributeGroup ref="tei:att.global.attribute.n"/>
          <xs:attributeGroup ref="tei:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="tei:att.global.rendition.attribute.rendition"/>
          <xs:attributeGroup ref="tei:att.global.analytic.attribute.ana"/>
          <xs:attributeGroup ref="tei:att.personal.attributes"/>
          <xs:attributeGroup ref="tei:att.typed.attribute.type"/>
          <xs:attribute name="id">
            <xs:annotation>
              <xs:documentation>L'ID.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
