IDC-Livrable2/fr_Cussac_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:dcr="http://www.isocat.org/ns/dcr"
  xmlns:tei="http://www.tei-c.org/ns/1.0">
  <xs:import namespace="http://www.isocat.org/ns/dcr" schemaLocation="fr_dcr.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="fr_xml.xsd"/>
  <!--
    Schema generated from ODD source 2022-04-07T14:54:10Z. August 2012.
    TEI Edition: Version 4.3.0. Last updated on
            31st August 2021, revision b4f72b1ff
    TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.3.0/
    
  -->
  <!--
    This material is dual-licensed.
    [http://creativecommons.org/licenses/by-sa/3.0/] Distributed under a Creative Commons Attribution-ShareAlike 3.0 Unported License [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2013 TEI Consortium.All rights reserved.Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage.TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the  TEI Consortium .
  -->
  <xs:complexType name="macro.paraContent" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:model.phrase"/>
  </xs:complexType>
  <xs:complexType name="macro.phraseSeq" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:model.phrase"/>
  </xs:complexType>
  <xs:attributeGroup name="att.declarable.attributes">
    <xs:attributeGroup ref="tei:att.declarable.attribute.default"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.declarable.attribute.default">
    <xs:attribute name="default" default="false">
      <xs:annotation>
        <xs:documentation>Indique si oui ou non cet élément est affecté par défaut quand son élément parent a été sélectionné.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true">
            <xs:annotation>
              <xs:documentation>cet élément est choisi si son parent est choisi</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="false">
            <xs:annotation>
              <xs:documentation>cet élément ne peut être sélectionné qu'explicitement, à moins qu'il ne soit le seul de ce type, auquel cas il est sélectionné si son parent a été choisi</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.declaring.attributes">
    <xs:attributeGroup ref="tei:att.declaring.attribute.decls"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.declaring.attribute.decls">
    <xs:attribute name="decls">
      <xs:annotation>
        <xs:documentation>identifie un ou plusieurséléments déclarables dans l'en-tête TEI, qui sont destinés à s'appliquer à l'élément portant cet attribut et à son contenu.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.responsibility.attributes">
    <xs:attributeGroup ref="tei:att.global.responsibility.attribute.cert"/>
    <xs:attributeGroup ref="tei:att.global.responsibility.attribute.resp"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.responsibility.attribute.cert">
    <xs:attribute name="cert">
      <xs:annotation>
        <xs:documentation>(certitude) donne le degré de certitude associée à l'intervention ou à l'interprétation.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:double">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="high">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="medium">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="low">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="unknown">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.responsibility.attribute.resp">
    <xs:attribute name="resp">
      <xs:annotation>
        <xs:documentation>(responsable) indique l'agent responsable de l'intervention ou de l'interprétation, par exemple un éditeur ou un transcripteur.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.rendition.attributes">
    <xs:attributeGroup ref="tei:att.global.rendition.attribute.rend"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.rendition.attribute.rend">
    <xs:attribute name="rend">
      <xs:annotation>
        <xs:documentation>(interprétation) indique comment l'élément en question a été rendu ou présenté dans le texte source</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.source.attributes">
    <xs:attributeGroup ref="tei:att.global.source.attribute.source"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.source.attribute.source">
    <xs:attribute name="source">
      <xs:annotation>
        <xs:documentation>specifies the source from which some aspect of this element is drawn.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attributes">
    <xs:attributeGroup ref="tei:att.global.rendition.attributes"/>
    <xs:attributeGroup ref="tei:att.global.analytic.attributes"/>
    <xs:attributeGroup ref="tei:att.global.responsibility.attributes"/>
    <xs:attributeGroup ref="tei:att.global.source.attributes"/>
    <xs:attributeGroup ref="tei:att.global.attribute.xmlid"/>
    <xs:attributeGroup ref="tei:att.global.attribute.n"/>
    <xs:attributeGroup ref="tei:att.global.attribute.xmllang"/>
    <xs:attributeGroup ref="tei:att.global.attribute.xmlspace"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmlid">
    <xs:attribute ref="xml:id"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.n">
    <xs:attribute name="n" type="xs:string">
      <xs:annotation>
        <xs:documentation>(nombre) donne un nombre (ou une autre étiquette) pour un élément, qui n'est pas nécessairement unique dans le document TEI.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmllang">
    <xs:attribute ref="xml:lang"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmlspace">
    <xs:attribute ref="xml:space"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.naming.attribute.role">
    <xs:attribute name="role">
      <xs:annotation>
        <xs:documentation>may be used to specify further information about the entity referenced by this name in the form of a set of whitespace-separated values, for example the occupation of a person, or the status of a place.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.naming.attribute.nymRef">
    <xs:attribute name="nymRef">
      <xs:annotation>
        <xs:documentation>(référence au nom canonique) indique comment localiser la forme canonique (nym) des noms qui sont associés à l'objet nommé par l'élément qui le contient.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.typed.attributes">
    <xs:attributeGroup ref="tei:att.typed.attribute.type"/>
    <xs:attributeGroup ref="tei:att.typed.attribute.subtype"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.typed.attribute.type">
    <xs:attribute name="type">
      <xs:annotation>
        <xs:documentation>caractérise l'élément en utilisant n'importe quel système ou typologie de classification approprié.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[^\p{C}\p{Z}]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.typed.attribute.subtype">
    <xs:attribute name="subtype">
      <xs:annotation>
        <xs:documentation>(sous-type) fournit une sous-catégorisation de l'élément, si c'est nécessaire.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[^\p{C}\p{Z}]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="model.nameLike.agent">
    <xs:choice>
      <xs:element ref="tei:name"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.segLike">
    <xs:choice>
      <xs:element ref="tei:w"/>
      <xs:element ref="tei:pc"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.pLike">
    <xs:choice>
      <xs:element ref="tei:p"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.divPart">
    <xs:choice>
      <xs:group ref="tei:model.pLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.placeNamePart">
    <xs:choice>
      <xs:element ref="tei:placeName"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.placeStateLike">
    <xs:choice>
      <xs:group ref="tei:model.placeNamePart"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.respLike">
    <xs:sequence>
      <xs:element ref="tei:author"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike">
    <xs:choice>
      <xs:group ref="tei:model.nameLike.agent"/>
      <xs:group ref="tei:model.placeStateLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.frontPart">
    <xs:sequence>
      <xs:element ref="tei:divGen"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pPart.data">
    <xs:choice>
      <xs:group ref="tei:model.nameLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.common">
    <xs:choice>
      <xs:group ref="tei:model.divPart"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.phrase">
    <xs:choice>
      <xs:group ref="tei:model.segLike"/>
      <xs:group ref="tei:model.pPart.data"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.divGenLike">
    <xs:sequence>
      <xs:element ref="tei:divGen"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.resource">
    <xs:sequence>
      <xs:element ref="tei:text"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="p">
    <xs:annotation>
      <xs:documentation>(paragraphe) marque les paragraphes dans un texte en prose. [3.1. Paragraphs 7.2.5. Speech Contents]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:macro.paraContent">
          <xs:attributeGroup ref="tei:att.global.attributes"/>
          <xs:attributeGroup ref="tei:att.declaring.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="name">
    <xs:annotation>
      <xs:documentation>(nom, nom propre) contient un nom propre ou un syntagme nominal. [3.6.1. Referring Strings]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:macro.phraseSeq">
          <xs:attributeGroup ref="tei:att.global.attributes"/>
          <xs:attributeGroup ref="tei:att.typed.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="author">
    <xs:annotation>
      <xs:documentation>(auteur) dans une référence bibliographique contient le nom de la (des) personne(s) physique(s) ou du collectif, auteur(s) d'une oeuvre ; par exemple dans la même forme que celle utilisée par une référence bibliographique reconnue. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:macro.phraseSeq">
          <xs:attributeGroup ref="tei:att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:annotation>
      <xs:documentation>(titre) contient le titre complet d'une oeuvre quelconque [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:macro.paraContent">
          <xs:attributeGroup ref="tei:att.global.attributes"/>
          <xs:attributeGroup ref="tei:att.typed.attribute.subtype"/>
          <xs:attribute name="type">
            <xs:annotation>
              <xs:documentation>caractérise le titre selon une typologie adaptée.
Exemple de valeurs possibles: 1] main; 2] sub (subordinate); 3] alt (alternate); 4] short; 5] desc (descriptive)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:pattern value="[^\p{C}\p{Z}]+"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="level">
            <xs:annotation>
              <xs:documentation>indique le niveau bibliographique d'un titre, c'est-à-dire si ce titre identifie un article, un livre, une revue, une collection, ou un document non publié</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="a">
                  <xs:annotation>
                    <xs:documentation>(analytique) titre analytique (article, poème ou autre, publié comme partie d'un ensemble plus grand)</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="m">
                  <xs:annotation>
                    <xs:documentation>(monographique) titre de monographie (livre, ensemble ou autre, publié comme un document distinct, y compris les volumes isolés d'ouvrages en plusieurs volumes)</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="j">
                  <xs:annotation>
                    <xs:documentation>(journal) titre de revue</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="s">
                  <xs:annotation>
                    <xs:documentation>(série) titre de publication en série</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="u">
                  <xs:annotation>
                    <xs:documentation>(unpublished) titre de matéria non publié (thèses et dissertations comprises, à l'exception de leurs éditions commerciales)</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="divGen">
    <xs:annotation>
      <xs:documentation>(division de texte générée automatiquement) indique l'emplacement où doit apparaître une division du texte générée automatiquement par une application de traitement de texte. [3.9.2. Index Entries]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.typed.attribute.subtype"/>
      <xs:attribute name="type">
        <xs:annotation>
          <xs:documentation>précise le type de section de texte qui apparaîtra par génération automatique (par exemple : index, table des matières, etc.)
Exemple de valeurs possibles: 1] index; 2] toc; 3] figlist; 4] tablist</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:pattern value="[^\p{C}\p{Z}]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="teiHeader">
    <xs:annotation>
      <xs:documentation>(en-tête TEI) fournit des informations descriptives et déclaratives qui constituent une page de titre électronique au début de tout texte conforme à la TEI. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:fileDesc">
          <xs:attributeGroup ref="tei:att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="fileDesc">
    <xs:sequence>
      <xs:element ref="tei:fileDesc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fileDesc">
    <xs:annotation>
      <xs:documentation>(description bibliographique du fichier) contient une description bibliographique complète du fichier électronique. [2.2. The File Description 2.1.1. The TEI Header and Its Components]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element ref="tei:titleStmt"/>
          <xs:element ref="tei:publicationStmt"/>
        </xs:sequence>
        <xs:element ref="tei:sourceDesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleStmt">
    <xs:annotation>
      <xs:documentation>(mention de titre) regroupe les informations sur le titre d’une œuvre et les personnes ou institutions responsables de son contenu intellectuel. [2.2.1. The Title Statement 2.2. The File Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:title"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:model.respLike"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationStmt">
    <xs:annotation>
      <xs:documentation>(mention de publication) regroupe des informations concernant la publication ou la diffusion d’un texte électronique ou d’un autre type de texte. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="tei:model.pLike"/>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sourceDesc">
    <xs:annotation>
      <xs:documentation>(description de la source) décrit la source à partir de laquelle un texte électronique a été dérivé ou produit, habituellement une description bibliographique pour un texte numérisé, ou une expression comme "document numérique natif " pour un texte qui n'a aucune existence précédente. [2.2.7. The Source Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="tei:model.pLike"/>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.declarable.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEI">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:teiHeader"/>
        <xs:choice>
          <xs:sequence>
            <xs:group maxOccurs="unbounded" ref="tei:model.resource"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:TEI"/>
          </xs:sequence>
          <xs:element maxOccurs="unbounded" ref="tei:TEI"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:annotation>
      <xs:documentation>(texte) contient un seul texte quelconque, simple ou composite, par exemple un poème ou une pièce de théâtre, un recueil d’essais, un roman, un dictionnaire ou un échantillon de corpus. [4. Default Text Structure 15.1. Varieties of Composite Text]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tei:front"/>
        <xs:element ref="tei:body"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.declaring.attributes"/>
      <xs:attributeGroup ref="tei:att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:annotation>
      <xs:documentation>(corps du texte) contient la totalité du corps d’un seul texte simple, à l’exclusion de toute partie pré- ou post-liminaire. [4. Default Text Structure]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:group ref="tei:model.divGenLike"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:model.divGenLike"/>
        </xs:sequence>
        <xs:group maxOccurs="unbounded" ref="tei:model.common"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.declaring.attributes"/>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="front">
    <xs:annotation>
      <xs:documentation>(texte préliminaire) contient tout ce qui est au début du document, avant le corps du texte : page de titre, dédicaces, préfaces, etc. [4.6. Title Pages 4. Default Text Structure]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="tei:model.frontPart"/>
        <xs:group ref="tei:model.pLike"/>
      </xs:choice>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.declaring.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="att.lexicographic.normalized.attribute.norm">
    <xs:attribute name="norm" type="xs:string">
      <xs:annotation>
        <xs:documentation>(normalisé) donne une forme normalisée de l'information fournie par le texte source sous une forme non normalisée.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.lexicographic.normalized.attribute.orig">
    <xs:attribute name="orig" type="xs:string">
      <xs:annotation>
        <xs:documentation>(original) indique la chaîne originale ou contient une chaîne vide si l'élément n'apparaît pas dans le texte source.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.linguistic.attribute.lemma">
    <xs:attribute name="lemma" type="xs:string">
      <xs:annotation>
        <xs:documentation>fournit le lemme du mot (entrée du dictionnaire)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.analytic.attributes">
    <xs:attributeGroup ref="tei:att.global.analytic.attribute.ana"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.analytic.attribute.ana">
    <xs:attribute name="ana">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="w">
    <xs:annotation>
      <xs:documentation>(mot) représente un mot grammatical (pas nécessairement orthographique) [17.1. Linguistic Segment Categories 17.4.2. Lightweight Linguistic Annotation]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.linguistic.attribute.lemma"/>
      <xs:attributeGroup ref="tei:att.typed.attribute.type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pc">
    <xs:annotation>
      <xs:documentation>(punctuation character) contient un caractère ou une chaîne de caractères considérés comme un signe de ponctuation unique. [17.1.2. Below the Word Level 17.4.2. Lightweight Linguistic Annotation]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.typed.attribute.type"/>
      <xs:attributeGroup ref="tei:att.linguistic.attribute.lemma"/>
      <xs:attribute name="force">
        <xs:annotation>
          <xs:documentation>indicates the extent to which this punctuation mark conventionally separates words or phrases</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="strong">
              <xs:annotation>
                <xs:documentation>the punctuation mark is a word separator</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="weak">
              <xs:annotation>
                <xs:documentation>the punctuation mark is not a word separator</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="inter">
              <xs:annotation>
                <xs:documentation>the punctuation mark may or may not be a word separator</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
        <xs:annotation>
          <xs:documentation>provides a name for the kind of unit delimited by this punctuation mark.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:pattern value="[^\p{C}\p{Z}]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="pre" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>indicates whether this punctuation mark precedes or follows the unit it delimits.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="att.datable.custom.attributes">
    <xs:attributeGroup ref="tei:att.datable.custom.attribute.when-custom"/>
    <xs:attributeGroup ref="tei:att.datable.custom.attribute.notBefore-custom"/>
    <xs:attributeGroup ref="tei:att.datable.custom.attribute.notAfter-custom"/>
    <xs:attributeGroup ref="tei:att.datable.custom.attribute.from-custom"/>
    <xs:attributeGroup ref="tei:att.datable.custom.attribute.to-custom"/>
    <xs:attributeGroup ref="tei:att.datable.custom.attribute.datingPoint"/>
    <xs:attributeGroup ref="tei:att.datable.custom.attribute.datingMethod"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.custom.attribute.when-custom">
    <xs:attribute name="when-custom">
      <xs:annotation>
        <xs:documentation>supplies the value of a date or time in some custom standard form.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.custom.attribute.notBefore-custom">
    <xs:attribute name="notBefore-custom">
      <xs:annotation>
        <xs:documentation>specifies the earliest possible date for the event in some custom standard form.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.custom.attribute.notAfter-custom">
    <xs:attribute name="notAfter-custom">
      <xs:annotation>
        <xs:documentation>specifies the latest possible date for the event in some custom standard form.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.custom.attribute.from-custom">
    <xs:attribute name="from-custom">
      <xs:annotation>
        <xs:documentation>indicates the starting point of the period in some custom standard form.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.custom.attribute.to-custom">
    <xs:attribute name="to-custom">
      <xs:annotation>
        <xs:documentation>indicates the ending point of the period in some custom standard form.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.custom.attribute.datingPoint">
    <xs:attribute name="datingPoint" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>supplies a pointer to some location defining a named point in time with reference to which the datable item is understood to have occurred</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.custom.attribute.datingMethod">
    <xs:attribute name="datingMethod" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.iso.attributes">
    <xs:attributeGroup ref="tei:att.datable.iso.attribute.when-iso"/>
    <xs:attributeGroup ref="tei:att.datable.iso.attribute.notBefore-iso"/>
    <xs:attributeGroup ref="tei:att.datable.iso.attribute.notAfter-iso"/>
    <xs:attributeGroup ref="tei:att.datable.iso.attribute.from-iso"/>
    <xs:attributeGroup ref="tei:att.datable.iso.attribute.to-iso"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.iso.attribute.when-iso">
    <xs:attribute name="when-iso">
      <xs:annotation>
        <xs:documentation>précise une date exacte pour l'évènement selon la forme normalisée ISO 8601, c'est-à-dire aaaa-mm-jj.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[0-9.,DHMPRSTWYZ/:+\-]+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.iso.attribute.notBefore-iso">
    <xs:attribute name="notBefore-iso">
      <xs:annotation>
        <xs:documentation>précise la première date possible pour l'évènement selon la forme normalisée, c'est-à-dire aaaa-mm-jj.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[0-9.,DHMPRSTWYZ/:+\-]+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.iso.attribute.notAfter-iso">
    <xs:attribute name="notAfter-iso">
      <xs:annotation>
        <xs:documentation>précise la dernière date possible pour l'évènement selon la forme normalisée, c'est-à-dire aaaa-mm-jj.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[0-9.,DHMPRSTWYZ/:+\-]+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.iso.attribute.from-iso">
    <xs:attribute name="from-iso">
      <xs:annotation>
        <xs:documentation>Indique le point de départ de la période sous une forme normalisée</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[0-9.,DHMPRSTWYZ/:+\-]+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.iso.attribute.to-iso">
    <xs:attribute name="to-iso">
      <xs:annotation>
        <xs:documentation>Indique le point final de la période sous une forme normalisée</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union
          memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[0-9.,DHMPRSTWYZ/:+\-]+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="placeName">
    <xs:annotation>
      <xs:documentation>(nom de lieu) contient un nom de lieu absolu ou relatif. [13.2.3. Place Names]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:macro.phraseSeq">
          <xs:attribute name="id">
            <xs:annotation>
              <xs:documentation>L'ID.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="tei:tei_att.canonical.attribute.ref"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="tei_att.canonical.attribute.ref">
    <xs:attribute name="ref">
      <xs:annotation>
        <xs:documentation>(référence) fournit un moyen explicite de localiser une définition complète de l'entité nommée au moyen d'un ou plusieurs URIs.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
